<!DOCTYPE html>
<html>

<head>
    <title>Item Tracker</title>
    <link rel="stylesheet" href="/awesomplete/awesomplete.base.css" />
    <script src="/awesomplete/awesomplete.js" async></script>
    <link rel="stylesheet" href="/style.css" /></link>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    

</head>


<div class="ui secondary menu">
  <a class="active item" data-tab="home" href="/items">
    Home
  </a>
  <a class="item" href="/items/goals">
    Goals
  </a>
  <a class="item" href="/items/new">
    Add Items
  </a>
  <div class="right menu">
    <% if(!currentUser){ %>
      <a class="ui item"  href="/login" data-tab="login">
        Login
      </a>
      <a class="ui item" href="/register">
          Register
      </a>
    <%  } else { %>
      <div class="item">Welcome, <%= currentUser.firstname %> <%= currentUser.lastname %></div>
      <a class="ui item" href="/logout">
        Logout
      </a>
    <% }    %>
    
  </div>
</div>


<script>
  

$(document).ready(function(){
  $('#item').click(function(){
    $('#item').removeClass("active");
    $(this).addClass("active");
});
});
</script>