<h1>Results Page!!</h1>
<ul>
    <% data.forEach(function(games) { %>
    <li>
        <strong>
            <%= games["name"] %>
        </strong>
        - <%=games["summary"] %>
    </li>
    <% }) %>
</ul>