<% include ./partials/header %>

<div class = "ui main text container segment">
    <div class="ui huge header">Edit <%= game.title %></div>
    <form class="ui form" action="/items/<%= game._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type = "text" name="game[title]" value="<%= game.title %>">    
        </div>
        <div class="field">
            <label>Console</label>
             <input type = "text" name="game[console]" value="<%= game.console%>">
        </div>
        <div class="field">
                <label>Condition</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Condition</div>
                    <div class="menu">
                      <div class="item" data-value="1" value = "New" name="game[condition]">New</div>
                      <div class="item" data-value="0" value = "Used"name="game[condition]">Used</div>
                    </div>
                  </div>
            </div>
        <button type="submit" class="ui big blue basic button">Submit</button>
    </form>
</div>
<script>
        
                $('.ui.dropdown')
                    .dropdown()
                ;
</script>

<% include ./partials/footer %>