<% include partials/header %>
<div class="ui container center aligned">
    <h1 class = "ui huge header">Item Tracker</h1>    
    <div class="ui text container left aligned">
        <p>Welcome to the Item Tracker! Here you can Add items that you own and view a sell price for that item! You can 
    also do a price lookup for any item! </p>
    <p><strong>For the First goal of this site, we are going to start with a Video Game Tracker</strong></p>
    <p>Some goals for this website is:</p>
    <ul>
        <li>Use the 7 RESTful routes (maybe not all 7, but it's a start) </li>
        <ul>
            <li>/items GET all items per user</li>
            <li>/items/new GET, show new item form</li>
            <li>/items, POST, create a new item, then redirect</li>
            <li>/items/:id, GET, Show info about a specific item such as photo, prices, info, etc.</li>
            <li>/items/:id/edit, GET, show edit form for a specific item</li>
            <li>/items/:id, PUT, update a particular item, then redirect</li>
            <li>/items/:id, DELETE, delete a particular item, then redirect</li>
        </ul>
        <li>Use an API such as amazon-search-products to retrieve prices for the items</li>
        <li>Create a database (Mongo or MYSQL)</li>
        <li>Add a register view</li>
        <li>Form validation</li>
        <li>Track Video Games</li>
    </ul>
    </div>
</div>



<% include partials/footer %>