<% include partials/header %>
<div class="ui container center aligned">
    <h1 class = "ui huge header">About</h1>    
    <div class="ui text container left aligned">
        <p>Welcome to the Game Tracker! Here you can Add Video games that you own and view a sell price for that item!</p>
    <p><strong>For the First goal of this site, we are going to start with a Video Game Tracker</strong></p>
    <p>Some goals for this website is:</p>
    <ul>
        <li>Use an API such as amazon-search-products to retrieve prices for the items</li>
        <li>Track any items that the user wants (outside the scope of video games)</li>
        <li>Add profiles to see what games other users own</li>
        <li></li>
    </ul>
    </div>
</div>

<% include partials/footer %>