<% include partials/header %>

  <div class="ui main text container segment active" data-tab="login">
    <form class="ui form" action="/login" method="post">
      <h2 class="ui dividing header">Login</h2>
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <button class="ui blue button">Login</button>
    </form>
  </div>

  <% include partials/footer %>