<% include partials/header %>

<div class="ui main text container segment active" data-tab="login">
    <form class="ui form">
      <h2 class="ui dividing header">Login</h2>
  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button class="ui blue button">Login</button>
</form>
</div>

<% include partials/footer %>