<% include ./partials/header %>

<div class="ui main text container segments" id="addPage">
    <div data-bind="foreach: gameFields" class="ui segment">
        <div class="ui huge header" data-bind="text: 'Game #' + count()"></div>
        <div class="ui form">
            <div class="field">
                <label>Title</label>
                <input type="text" data-bind="value: title" name="title" id="title" placeholder="Title" required>
            </div>
            <div class="field">
                <label>Console</label>
                <input type="text" data-bind="value: console" name="console" id="console" class="awesomplete" list="mylist" placeholder="Console"
                    required>
            </div>
            <div class="field">
                <label>Condition</label>
                <div class="ui selection dropdown" data-bind="event: $root.getDropdown()">
                    <input type="hidden" data-bind="value: condition" id="condition" name="condition">
                    <i class="dropdown icon"></i>
                    <div class="default text">Condition</div>
                    <div class="menu">
                        <div class="item" data-value="New">New</div>
                        <div class="item" data-value="Used">Used</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="click: $root.addNewField" class="ui big blue button">
        Add New Game
    </div>
    <div data-bind="click: $root.addGame" class="ui big blue basic button">
        Save
    </div>
</div>

<script src="/scripts/item_tracker/item.create.js"></script>
<% include ./partials/footer %>