<% include partials/header %>

<div class = "ui main text container segment active clearing">
   <h2 class="ui dividing header">
   Register</h4>
   <form class = "ui form">
      <div class="field">
         <label>Name</label>
         <div class="two fields">
            <div class="field">
               <input type="text" name="firstname" placeholder="First Name">
            </div>
            <div class="field">
               <input type="text" name="lastname" placeholder="Last Name">
            </div>
         </div>
         <div class = "field">
            <label>Email</label>
            <input type = "email" name = "email" placeholder = "Email"></input>
         </div>
         <div class = "field">
            <label>Password</label>
            <div class="two fields">
               <div class="field">
                  <input type="password" name="password" placeholder="Password"></input>
               </div>
               <div class="field">
                  <input type="password" name="password" placeholder="Confirm Password"></input>
               </div>
            </div>
            <button class="ui blue button">Register</button>
            <div class="ui error message"></div>
         </div>
      </div>
   </form>
</div>

<% include partials/footer %>